/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav a {
    color: white;
    padding: 1em;
    text-decoration: none;
}

main {
    padding: 1em;
}

section {
    margin: 1em 0;
}

.level-0 {
    /* Style for sections at the top level of the directory tree */
    margin-left: 0px;
    font-size: 2em;
}

.level-1 {
    /* Style for sections at the second level of the directory tree */
    margin-left: 20px;
    font-size: 1.5em;
}

.level-2 {
    /* Style for sections at the third level of the directory tree */
    margin-left: 40px;
    font-size: 1.2em;
}